main_folder/clearData/RuReady.csv filter=lfs diff=lfs merge=lfs -text
main_folder/data/RuReady.csv filter=lfs diff=lfs merge=lfs -text
main_folder/data/RussianNames.csv filter=lfs diff=lfs merge=lfs -text
